{% extends "base.html" %} {% block content %}
<form action="/books/{{book.id}}" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" value="{{book.title}}" name="title" placeholder="Title"
            required autofocus />
    </div>

    <div>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" value="{{book.genre}}" name="genre" placeholder="Genre" required />
    </div>

    <div>
        <label for="pages">Genre:</label>
        <input type="number" id="pages" value="{{book.pages}}" name="pages" placeholder="Pages" required />
    </div>

    <div>
        <label for="read">Read:</label>
        <select id="read" name="read">
            <option value="true" {% if book.read==True %} selected="selected" {% endif %}>True</option>
            <option value="false" {% if book.read==False %} selected="selected" {% endif %}>False</option>
        </select>
    </div>

    <div>
        <label for="author">Author:</label>
        <select id="author" name="author_id">
            {% for author in authors %}
            <option value="{{author.id}}"
            {% if book.author.last_name == author.last_name %} selected="selected" {% endif %}>{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Edit Book</button>
</form>
{% endblock %}